<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decorations</title>
</head>
<body>
  <style>
   body {background-color: lightgreen;}
   p {color:white;}
   h {color: brown;}
  body {
    background-image: "C:\Users\krish\Downloads\WhatsApp Image 2023-11-15 at 14.21.00.jpeg";
   }
  </style>
  <h3 style="background-color: red;"> WELCOME</h3>
  <h2>SURYA DECORATIONS<br></h2>
  <h5><q>MAKES YOUR OCASSIONS FOREVER</q></h5>
</body>
</html>